
    <div class="card horizontal" *ngIf="event.startDatum.getTime >= event.todayDate.getTime">
      <div class="card-image">
        <img src={{event.url}}>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>{{event.name}}</h5>
          <data>{{event.startDatum | date:"dd.MM.yyyy" }}  -  {{event.endDatum | date:"dd.MM.yyyy" }}</data>
        </div>
        <div class="card-action">
          <a target="_blank" href="{{event.homePageUrl}}">Mehr erfahren >></a>
        </div>
      </div>
    </div>
  
